{% extends 'base.html' %}
{% load static %}

{% block content%}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Page</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to our shop</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-4">
                <p align="justify">
                <br>
                <br>
                Aici găsești o selecție vastă de cărți din domenii precum psihologie, dezvoltare personală și filosofie. De la bestselleruri ca "Outliers" de Malcolm Gladwell și "12 Rules for Life" de Jordan Peterson, până la clasici ca "Meditations" de Marcus Aurelius, avem tot ce ai nevoie pentru a-ți îmbogăți biblioteca personală.
                <br>
                <br>
                    Pe lângă aceste titluri celebre, ne mândrim cu o colecție diversă de cărți de la autori precum Tony Robbins și Robert Greene. Fie că ești în căutarea unor sfaturi practice pentru a-ți îmbunătăți viața personală și profesională sau că vrei să explorezi gândirea filosofică a unor mari gânditori, suntem aici pentru tine. Echipa noastră pasionată de lectură și dezvoltare personală este mereu disponibilă pentru a te ajuta să găsești exact ceea ce cauți.
                <br>
                <br>
                    În plus, suntem mereu în căutare de noi titluri și autori care să îți inspire și să îți ofere perspective noi. Abonează-te la newsletter-ul nostru pentru a fi mereu la curent cu cele mai recente lansări și oferte speciale. Te invităm să explorezi colecția noastră și să îți găsești următoarea carte preferată!
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}